.about-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 20vh;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: -0.02em;
}

@media (max-width: 768px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
}