.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--edge-padding);
    position: relative;
}

.hero-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: -0.01em;
    margin-top: 1.5rem;
    max-width: 800px;
    /* Increased max-width */
    white-space: nowrap;
    /* Prevent wrapping */
}

.hero-outline-char {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 768px) {
    .hero-section {
        padding-left: 1rem;
    }

    .hero-subtitle {
        margin-top: 2rem;
        font-size: 1.1rem;
    }
}